.tips{
    margin-top: 700px;
}
.tips-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    justify-items: center;
}

.paper-wrapper {
    position: relative;
    margin: 0; 
}

/* Top-left corner badge */
.paper-badge {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: var(--color-2);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 0 black;
    font-family: sans-serif;
}
.papers{
    background-color: var(--color-1);
    width: 35vw;
}