.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}
.hero-content{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 1vw;
}
.hero-content h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-top: 6vh;
    margin-bottom: 0.1rem;
    font-family: 'ClashDisplay', sans-serif;
}
.hero-content p{
    font-size: 1.9rem;
    font-family: 'ClashDisplay', sans-serif;
}
.hero-image img{
    height: clamp(25rem, 55vh, 60rem);
    width: clamp(25rem, 35vw, 30rem);
}
.hero-button{

    margin-top: 2vh;
    padding: 0.5rem ;

}

.used{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    align-items: center;
    

}
.used-img{
    height: 7vh;
    width: 15vh;
}
.used p{
    font-size: 1.4rem;
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 500;
    color: gray;
    margin-left: 10px;


}







 @media screen and (max-width: 1000px) {
    .hero-image{
        display: none;
    }
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .hero-content{
        margin-right: 0;
        text-align: center;
        align-items: center;
    }
    
    .hero-content p{
        font-size: 1.5rem;
    }
    
 }