button{
    background-color: var(--color-1);
    color: black;
    font-size: 1.5rem;
    font-family: 'ClashDisplay', sans-serif;
    font-weight: 700;
    border: solid 3px;
    box-shadow: 10px 10px 0px black;
    border-radius: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    height: 4rem;
    width: 15rem;
}