
.scan{
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.scan-paper{
    margin-top: 20vh;
    
}
.scan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}
.input-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;}
 input{
    width: clamp(300px, 40vw, 500px);
    height: 50px;
    border-radius: 15px;
    border: solid 3px #000000;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'ClashDisplay', sans-serif;
    box-shadow: 10px 10px 0px #000000;
}
.Email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Email button{
    height: 55px;
    width: clamp(6rem, 40vw, 13rem);

}
h1{
    font-family: 'ClashDisplay', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}






.ai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
}
.input-button-ai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;
}
.input-button-ai button{
    height: 55px;
    width: clamp(6rem, 40vw, 13rem);
    background-color: var(--color-3);
}
.input-button-ai input{
    width: clamp(400px, 40vw, 700px);
}









@media screen and (max-width: 768px) {
    .scan{
        margin-top: 400px;
    }
    .scan-container{
        gap: 10vh;
    }
    .input-button{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    input{
        width: 80vw;
    }



    
}